// Partials and import
@use 'assets/reset';
@use 'assets/animate';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

// Variables
$default-font: 'Open Sans', sans-serif; 
$default-gap: 40px;

$pcolor_extralight: #fcf8e8;
$pcolor_light: #ecdfc8;
$pcolor_medium: #ecb390;
$pcolor_dark: #df7861;

$color_extralight: #efefef;
$color_light: #e1f4f3;
$color_medium: #706c61;
$color_dark: #333333;

$color_text: #2c3033;

// Styling
// BASE
body {
    font-family: $default-font;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Merriweather', serif;
    color: #2c3033;
    line-height: 1.25;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

h1:after {
    width: 90px;
    height: 10px;
    position: absolute;
    content: "";
    bottom: 9px;
    z-index: -1;
    left: 0;
    background-color: $pcolor_dark;
}

// HEADER
header {
    background-color: $color_extralight;
    padding: $default-gap/4;
    font-family: 'Merriweather', serif;
}

.header-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        img { max-width: 220px; }
    }

    &__link {
        &__item {
            color: $color_dark;
            text-decoration: none;
            margin-right: $default-gap/4;

            &:hover {
                color: $pcolor_dark;
            }
        }

        &__item--button {
            background-color: $pcolor_dark;
            color: $color_light;
            text-decoration: none;
            padding: $default-gap/3;
            border-radius: $default-gap/4 0;

            &:hover {
                background-color: $pcolor_medium;
            }
        }
    }
}

// BANNER
.banner {
    background-image: url("../img/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;

    &-container {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        height: 100%;

        &__text {
            text-align: center;
            color: $color_text;

            h2 { font-family: 'Comfortaa', cursive; font-size: 2.2em; }

            h1 { font-size: 3.5em; }
        }

        &__scroll-button {
            position: absolute;
            bottom: 0;

            span {
                color: $pcolor_extralight;
                background-color: $pcolor_dark;
                padding: 9px 15px;
                border-radius: 50%;
            }
        }
    }
}

// IMPRESSIE 
.impressie {
    margin-top: $default-gap*2;

    &-container {
        max-width: 1248px;
        margin: 0 auto;

        &__over {
            display: flex;

            &__item {

                img {
                    margin-right: $default-gap;
                    max-width: 500px;
                }
            }
        }
    }
}





