// Partials and import
@use 'assets/reset';
@use 'assets/animate';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

// Variables
$default-font: 'Open Sans', sans-serif; 
$default-gap: 40px;

$pcolor_extralight: #fcf8e8;
$pcolor_light: #ecdfc8;
$pcolor_medium: #ecb390;
$pcolor_dark: #df7861;

$color_extralight: #efefef;
$color_light: #e1f4f3;
$color_medium: #706c61;
$color_dark: #333333;

$color_text: #2c3033;

// Styling
// BASE
body {
    font-family: $default-font;
}

// HEADER
header {
    background-color: $color_extralight;
    padding: $default-gap/4;
    font-family: 'Merriweather', serif;
}

.header-container {
    max-width: 1248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        img { max-width: 220px; }
    }

    &__link {
        &__item {
            color: $color_dark;
            text-decoration: none;
            margin-right: $default-gap/4;
            transition: color .2s ease-out;

            &:hover {
                color: $pcolor_dark;
            }
        }

        &__item--button {
            background-color: $pcolor_dark;
            color: $color_light;
            text-decoration: none;
            padding: $default-gap/3;
            border-radius: $default-gap/4 0;
            transition: background-color .2s ease-out;

            &:hover {
                background-color: $pcolor_medium;
            }
        }
    }
}

// BANNER
.banner {
    background-image: url("../img/bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;

    &-container {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        height: 100%;

        &__text {
            text-align: center;
            color: $color_text;

            h2 { font-family: 'Comfortaa', cursive; font-size: 2.2em; }

            h1 {
                font-family: 'Merriweather', serif;
                color: #2c3033;
                line-height: 1.25;
                font-weight: bold;
                position: relative;
                z-index: 1;
                font-size: 3.5em;
            }
            
            h1:after {
                width: 90px;
                height: 10px;
                position: absolute;
                content: "";
                bottom: 9px;
                z-index: -1;
                left: 0;
                background-color: $pcolor_dark;
            }
        }

        &__scroll-button {
            position: absolute;
            bottom: 0;

            span {
                color: $pcolor_extralight;
                background-color: $pcolor_dark;
                padding: 9px 15px;
                border-radius: 50%;
                transition: background-color .2s ease-out;
                
                &:hover {
                    background-color: $pcolor_medium;
                }
            }
        }
    }
}

// IMPRESSIE 
.impressie {
    margin: $default-gap*3 0;

    &-container {
        max-width: 1248px;
        margin: 0 auto;

        &__over {
            display: flex;
            margin-bottom: $default-gap;

            &__item {

                img {
                    margin-right: $default-gap;
                    max-width: 550px;
                }

                h1, h2 {
                    font-family: 'Merriweather', serif;
                    color: #2c3033;
                    line-height: 1.25;
                    font-weight: bold;
                    position: relative;
                    z-index: 1;
                    font-size: 1.7em;
                }

                h1 { font-size: 2.3em; }
                
                h1:after, h2:after {
                    width: 50px;
                    height: 9px;
                    position: absolute;
                    content: "";
                    bottom: 5px;
                    z-index: -1;
                    left: 0;
                    background-color: $pcolor_dark;
                }

                p {
                    margin-top: $default-gap/3;
                    font-size: 1.1em;
                    line-height: 1.25em;
                }

                a {
                    text-decoration: none;
                    color: $pcolor_medium;
                    transition: color .2s ease-out;

                    &:hover { color: $pcolor_dark; }
                }
            }
        }
    }
}

// GENIET
.geniet {
    background-image: url("../img/geniet.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

    &-container {
        max-width: 1248px;
        margin: 0 auto;

        h2 { 
            text-align: center;
            font-family: 'Comfortaa', cursive; 
            font-size: 2.2em; 
            color: $pcolor_dark;
            padding: $default-gap*4 0;
        }

    }
}

// MENU
.menu {
    margin: $default-gap*2 0;

    &-container {
        max-width: 768px;
        margin: 0 auto;

        &__title {
            display: flex;
            justify-content: center;
            margin-bottom: $default-gap/2;

            h1 {
                font-family: 'Merriweather', serif;
                color: #2c3033;
                line-height: 1.25;
                font-weight: bold;
                position: relative;
                z-index: 1;
                font-size: 2.3em;
            }

            h1:after {
                width: 50px;
                height: 9px;
                position: absolute;
                content: "";
                bottom: 5px;
                z-index: -1;
                left: 0;
                background-color: $pcolor_dark;
            }
        }

        &__text {
            font-size: 1.1em;
            line-height: 1.25em;
            margin-bottom: $default-gap*2;
        }
    }

    .menukaarten {
        max-width: 1248px;
        margin: 0 auto;

        &-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: $default-gap;

            &__kaart {
                background-color: $color_extralight;

                img {
                    max-width: 100%;
                }

                &__title {
                    padding: $default-gap/3;
                    
                    h2 {
                        font-family: 'Merriweather', serif;
                        color: #2c3033;
                        line-height: 1.25;
                        font-weight: bold;
                        position: relative;
                        z-index: 1;
                        font-size: 1.3em;
                    }
                    
                    h2:after {
                        width: 50px;
                        height: 6px;
                        position: absolute;
                        content: "";
                        bottom: 2px;
                        z-index: -1;
                        left: 0;
                        background-color: $pcolor_dark;
                    }
                }

                &__text {
                    padding: 0 $default-gap/3;
                    font-size: 1.1em;
                    line-height: 1.25em;

                    p:last-of-type {
                        background-color: $pcolor_dark;
                        color: $color_light;
                        text-decoration: none;
                        padding: $default-gap/3;
                        border-radius: $default-gap/4 0;
                        transition: background-color .2s ease-out;
                        margin-top: $default-gap/2;
                        margin-bottom: $default-gap/2;
            
                        &:hover {
                            background-color: $pcolor_medium;
                        }
                    }
                }
            }
        }
    }
}

// ONTSPAN
.ontspan {
    background-image: url("../img/ontspan.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

    &-container {
        max-width: 1248px;
        margin: 0 auto;

        h2 { 
            text-align: center;
            font-family: 'Comfortaa', cursive; 
            font-size: 2.2em; 
            color: $pcolor_dark;
            padding: $default-gap*4 0;
        }

    }
}

// CONTACT
.contact {
    background-color: $pcolor_dark;

    &-container {

        &__map {
            height: 70vh;
            width: 100%;
        }
    }
}

// FOOTER
footer {
    background-color: $color_dark;
}